<div class="ui-panel" style="padding: 0">
<div class="ui-panel-content" style="padding: 0">
    <p-tabView>
        <p-tabPanel header="Badges" [selected]="true">
                <table id="buttonstable" class="table table-responsive" style="display: table !important;">
                        <thead>
                            <tr style="font-size:80%">
                                <th>Assistència</th>
                                <th>Deures</th>
                                <th>Classe</th>
                                <th colspan=2>Comportament</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <app-badge-button [id]="ids[400]" [badgeType]="400" [badgeSymbol]="'FA'" (changed)="handle($event)"></app-badge-button>                    
                                </td>
                                <td>
                                    <app-badge-button [id]="ids[200]" [badgeType]="200" [badgeSymbol]="'++'" (changed)="handle($event)"></app-badge-button>                    
                                </td>
                                <td>
                                    <app-badge-button [id]="ids[202]" [badgeType]="202" [badgeSymbol]="'++'" (changed)="handle($event)"></app-badge-button>                    
                                </td>
                                <td>
                                    <app-badge-button [id]="ids[303]" [badgeType]="303" [badgeSymbol]="'AG'" (changed)="handle($event)"></app-badge-button>                    
                                </td>
                                <td>
                                    <app-badge-button [id]="ids[204]" [badgeType]="204" [badgeSymbol]="'+'" (changed)="handle($event)"></app-badge-button>                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <app-badge-button [id]="ids[401]" [badgeType]="401" [badgeSymbol]="'RE'" (changed)="handle($event)"></app-badge-button>                    
                                </td>
                                <td>
                                    <app-badge-button [id]="ids[201]" [badgeType]="201" [badgeSymbol]="'+'" (changed)="handle($event)"></app-badge-button>                    
                                </td>
                                <td>
                                    <app-badge-button [id]="ids[203]" [badgeType]="203" [badgeSymbol]="'+'" (changed)="handle($event)"></app-badge-button>                    
                                </td>
                                <td>
                                    <app-badge-button [id]="ids[302]" [badgeType]="302" [badgeSymbol]="'MA'" (changed)="handle($event)"></app-badge-button>                    
                                </td>
                                <td>
                                    <app-badge-button  [id]="ids[205]" [badgeType]="205" [badgeSymbol]="'PI'" (changed)="handle($event)"></app-badge-button>                  
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <app-badge-button [id]="ids[300]" [badgeType]="300" [badgeSymbol]="'-'" (changed)="handle($event)"></app-badge-button>                    
                                </td>
                                <td>
                                    <app-badge-button [id]="ids[304]" [badgeType]="304" [badgeSymbol]="'-'" (changed)="handle($event)"></app-badge-button>                    
                                </td>
                                <td>
                                    <app-badge-button [id]="ids[301]" [badgeType]="301" [badgeSymbol]="'XE'" (changed)="handle($event)"></app-badge-button>                    
                                </td>
                                <td>
                                    <app-badge-button [id]="ids[305]" [badgeType]="305" [badgeSymbol]="'AT'" (changed)="handle($event)"></app-badge-button>                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
        </p-tabPanel>
        <p-tabPanel header="Messages">
                    <button class="btn btn-sm btn-primary" [disabled]="editMsg" (click)="editMsg=true"><span class="fa fa-pencil"> Edit</span></button>
                    <button class="btn btn-sm btn-danger" *ngIf="editMsg" (click)="cancelEditMsg()"><span class="fa fa-undo"> Cancel</span></button>
                    <button class="btn btn-sm btn-success" *ngIf="editMsg" (click)="saveEditMsg()"><span class="fa fa-save"> Save</span></button>
                    <button class="btn btn-sm btn-warning pull-right" *ngIf="editMsg && student.emailParents" (click)="saveEditMsg(true)"><span class="fa fa-paper-plane"> Email-me</span></button>
                    <br/>
                    <textarea [disabled]="!editMsg" [(ngModel)]="message" style="width:100%" rows="5"></textarea>
        </p-tabPanel>
        <p-tabPanel header="Other">
                    To be done    
        </p-tabPanel>
    </p-tabView>
            
            
    
</div>
</div>
