<!-- Fixed navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['menu']">
        <img style="display:inline;max-width:40px; margin-top: -12px;" src="assets/img/logo.png" width="40" height="40" />
        <b>&#960;World</b>
        <span class="small hidden-xs"> - PDA</span>
    </a>
    <button class="navbar-toggler" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar-toggleable-xs" [class.show]="!isNavbarCollapsed"   id="navbarSupportedContent">

        <ul class="navbar-nav navbar-dark bg-dark ml-auto">

                <li  class="bg-dark dropdown" style="padding:0">
                        <a href="#" (click)="pd($event)" (blur)="blur()" class="nav-link" style="padding:0">
                            <img [src]='avatarSrc' style="width: 40px; height:40px;" />
                            <b class="caret"></b>
                        </a>
        
                        <ul  class="nav-item dropdown-menu dropdown-menu-right bg-inverse bg-dark"  [class.show]="dropdownShown"
                        aria-labelledby="split-button" style="right:0px !important;">
                            <li>
                                <a href="#" class="nav-link" (click)="logout($event)">
                                    {{'LOGOUT' | translate}}
                                </a>
                            </li>
        
                            <li role="separator"></li>
                            <li>
                                <div class="nav-link">
                                    <button class="btn btn-xs btn-default" (click)="switchLang('ca')">
                                        <img src='assets/img/ca.png' />
                                    </button>
                                    <button class="btn btn-xs btn-default" (click)="switchLang('es')">
                                        <img src='assets/img/es.png' />
                                    </button>
                                    <button class="btn btn-xs btn-default" (click)="switchLang('en')">
                                        <img src='assets/img/en.png' />
                                    </button>
                                </div>
                            </li>
        
                        </ul>
                    </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['list']">Llista</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" [routerLink]="['activities']">Activitats</a>
                </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['progress']">Seguiment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['reports']">Informes</a>
            </li>

          
        </ul>
    </div>
</nav>


<router-outlet></router-outlet>
