<div>
        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="355" [responsive]="true"></p-confirmDialog>

        <p-dialog header="Edit Activity" [(visible)]="displayEditDlg" modal="true" width="500" height="500" [responsive]="false">
                <p-header>
                        <span *ngIf="beanActivity.id>0">Edit activity {{beanActivity.id}}</span>
                        <span *ngIf="beanActivity.id===0">Create a new activity</span>
                </p-header>


                Trimestre
                <input style="width:100%" type="number" [(ngModel)]="beanActivity.trimestre" />
                <br/> Data
                <p-calendar [(ngModel)]="beanActivity.dia" [locale]="locale" dateFormat="dd/mm/yy"></p-calendar>
                <br/> Descripcció

                <br/>
                <textarea style="width:100%" [(ngModel)]="beanActivity.desc" rows=3></textarea> Categoria

                <br/>
                <input style="width:100%" [(ngModel)]="beanActivity.category" />
                <br/>

                <!--Pes<br/>
                        <input style="width:100%" [(ngModel)]="beanActivity.weight"/> <br/>-->

                <input type="checkbox" [(ngModel)]="beanActivity.visible" /> Visible famílies
                <br/> Fórmula


                <br/>
                <textarea style="width:100%" [(ngModel)]="beanActivity.formula" rows=3></textarea>

                <p-footer>
                        <button *ngIf="beanActivity.id" class="btn btn-info pull-left" type="button" (click)="mostraAssignacions()">
                                <span class="fa fa-list"></span> Mostra assignacions
                        </button>

                        <button class="btn btn-danger" type="button" (click)="displayEditDlg=false">
                                <span class="fa fa-close"></span> Cancel·la
                        </button>
                        <button class="btn btn-success" type="button" (click)="saveActivity()" label="Yes">
                                <span class="fa fa-check"></span> Accepta
                        </button>
                </p-footer>
        </p-dialog>

        <p-dialog [(visible)]="asgn.displayAssignDlg" modal="true" width="500" height="500" [responsive]="true">
                <p-header>
                        <span>Assigna l'activitat {{beanActivity.id}} a:</span>
                </p-header>
                <div style="height:400px;overflow-y:auto">
                        <p-pickList [source]="asgn.allStudents" [target]="asgn.selected" sourceHeader="Disponible" targetHeader="Seleccionats" [responsive]="true"
                                filterBy="fullname" dragdrop="false" sourceFilterPlaceholder="Cerca" targetFilterPlaceholder="Cerca"
                                [showSourceControls]="false" [showTargetControls]="false" [sourceStyle]="{'height':'150px'}" [targetStyle]="{'height':'150px'}">

                                <ng-template let-s pTemplate="item">
                                        <div class="ui-helper-clearfix" style="max-width:250px">
                                                {{s.fullname}}
                                        </div>
                                </ng-template>

                        </p-pickList>

                        <br/>
                        <p>Inicia les assignacions amb una nota de:</p>
                        <p-dropdown [options]="asgn.initialGrades" [(ngModel)]="asgn.initialGrade" [ngStyle]="{width:'150px'}"></p-dropdown>
                        <input type="checkbox" [(ngModel)]="asgn.override" /> Sobrescriu si ja té nota
                </div>
                <p-footer>
                        <button class="btn btn-danger" type="button" (click)="cancelAssignments()">
                                <span class="fa fa-close"></span> Cancel·la
                        </button>
                        <button class="btn btn-success" type="button" (click)="saveAssignments()" label="Yes">
                                <span class="fa fa-check"></span> Accepta
                        </button>
                </p-footer>
        </p-dialog>

        <div class="topbar-overlay">
                <h4>
                        <span class="d-none d-lg-inline">Activitats</span>
                        <button class="btn btn-sm  btn-danger rounded-circle" (click)="createActivity()">
                                <span class="fa fa-plus"></span>
                        </button>
                        <button class="btn btn-sm  btn-info" (click)="prepareWorbook()">
                                <span class="fa fa-file-excel-o"></span>
                        </button>
                        <app-group-pick (changed)="update($event)" style="width:50%"></app-group-pick>
                        <span class="fa fa-search"></span>
                        <input id="typeahead-basic" type="text" class="form-control-static" style="width: 32%" [(ngModel)]="searchText" (ngModelChange)="applyFilter()"
                        />
                </h4>
        </div>

        <div class="container-fluid" style="padding:10px; padding-top:100px; padding-bottom:20px;">

                <p-tabMenu [model]="menuItems"></p-tabMenu>
                <p-dataTable [value]="rowsFiltered" scrollable="true" [scrollHeight]="scrollHeight" [frozenWidth]="frozenWidth" [unfrozenWidth]="unfrozenWidth"
                        [style]="{'height': '50px', 'font-size': '90%'}" [editable]="true">

                        <p-header>{{activeTrimestre}}a Avaluació</p-header>
                        <p-column field="user" header="Alumne/a" footer="Aproven % mean % Desv" [style]="{'width': frozenWidth, 'height': '50px', 'overflow': 'auto'}"
                                frozen="true">
                                <ng-template let-col let-rowstudent="rowData" let-ri="rowIndex" pTemplate="body">
                                        <div style="font-size: 80%; display:inline-block; height: 50px; overflow: hidden" title="{{rowstudent[col.field].id}}">{{rowstudent[col.field].fullname}}</div>
                                </ng-template>
                                <ng-template let-col pTemplate="footer">
                                        Aproven %
                                        <br/> Mitjana
                                        <br/> Desv. tipica
                                </ng-template>
                        </p-column>
                        <p-column *ngFor="let c of columnsFiltered" [field]="c.field" [header]="c.desc" [footer]="" [ngStyle]="{'width':'150px', 'height': '50px', 'overflow': 'inherit'}"
                                [editable]="!c.formula">
                                <ng-template let-col pTemplate="footer">
                                        {{c.aproven}}
                                        <br/> {{c.mitjana}}
                                        <br/> {{c.desvtipica}}
                                </ng-template>
                                <ng-template let-col pTemplate="header">
                                        <div [ngStyle]="{'font-size': '80%', height: '45px', 'background': c.visible?'lightyellow':'lightgray'}">
                                                <div style="font-size:100%" class="pull-left">
                                                        <span title="{{c.field}}" style="font-size: 1.2em" class="badge badge-primary">{{'$'+c.id}}</span>
                                                        <span *ngIf="c.formula" class="fa fa-calculator"></span>
                                                        <div class="dropdown">
                                                                <button class="btn btn-sm btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" (click)="c.dropdownShown=!c.dropdownShown"
                                                                        aria-haspopup="true" aria-expanded="false" (blur)="hideDropdown(c)">
                                                                        <span class="fa fa-bars"></span>
                                                                </button>
                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" [class.show]="c.dropdownShown" style="z-index:10000;">
                                                                        <a class="dropdown-item" href="#" (click)="editActivity(c, $event)">
                                                                                <span class="fa fa-pencil"></span> Edita</a>
                                                                        <a class="dropdown-item" href="#" (click)="mostraAssignacions(c, $event)">
                                                                                <span class="fa fa-list"></span> Assigna</a>
                                                                        <a class="dropdown-item" href="#" (click)="deleteActivity(c, $event)">
                                                                                <span class="fa fa-trash"></span> Esborra</a>
                                                                </div>
                                                        </div>
                                                </div>

                                                <span>{{c.desc}}</span>




                                                <!--
                                                <button class="btn btn-xs btn-danger" style="font-size: 0.7em" (click)="deleteActivity(c)">
                                                        <span class="fa fa-trash"></span>
                                                </button>
                                                <button class="btn btn-xs btn-success" style="font-size: 0.7em" (click)="editActivity(c)">
                                                        <span class="fa fa-pencil"></span>
                                                </button>
                                                -->


                                        </div>
                                </ng-template>
                                <ng-template let-col let-rowstudent="rowData" let-ri="rowIndex" pTemplate="body">
                                        <span style="display:block; text-align: center; font-weight: bold; font-size: 110%; height:49px" [ngStyle]="{'color': (rowstudent[col.field] || {}).grade>=5?'black':'red' }">
                                                {{formatGrade(rowstudent[col.field])}}</span>
                                </ng-template>
                                <ng-template let-col let-rowstudent="rowData" pTemplate="editor">
                                        <input style="height:49px" *ngIf="rowstudent[col.field]" [(ngModel)]="rowstudent[col.field].grade" [ngStyle]="{'width':'100%'}" (blur)="updateGrade(rowstudent[col.field])"
                                        />
                                </ng-template>
                        </p-column>

                </p-dataTable>

        </div>


</div>