<div class="container-fluid" style="padding:10px; padding-top:70px; padding-bottom:70px;">
        <h5>Seguiment</h5>
        
        <app-group-pick [selection]="groupSelected" (changed)="onGroupSelected($event)"></app-group-pick>
        <app-student-pick [group]="groupSelected" [selection]="studentSelected" (changed)="onStudentSelected($event)"></app-student-pick>

        <br/><br/>

        <div *ngIf="studentSelected">
                <h5>Missatges</h5>
                <p-dataList [value]="messages">
                        <ng-template let-message pTemplate="item">
                                <div class="ui-g ui-fluid">
                                        <div class="ui-g-12 ui-md-3">
                                                <span><b>{{message.when | date: 'dd/MM/yyyy'}}</b></span>
                                        </div>
                                        <div class="ui-g-12 ui-md-9">
                                                {{message.msg}}
                                        </div>
                                </div>
                        </ng-template>
                </p-dataList> 
        </div>
 </div>
        