<p-dropdown [options]="students" [(ngModel)]="selection" [filter]="true" filterBy="value.fullname" [style]="{'width':'250px'}" (onChange)="onSelect($event)">
</p-dropdown>
<div *ngIf="selection" style="display: inline-block; background: lightgray">
    <img class="round-img  pw-thm-{{selection.username}}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEoAAABjAQMAAAAGvQTMAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABJJREFUeNpjYBgFo2AUjAIyAQAEQQABBXTlEgAAAABJRU5ErkJggg=="
      title="{{selection.id}}" style="display:inline; width:45px; margin-right:5px; border: 1px gray solid;" />
  </div>
  
<!--
<div class="d-inline-block dropdown">
        <button class="btn btn-outline-primary" (click)="dropdownShown=!dropdownShown" (blur)="blur()">
            {{selection? selection.fullname : '----'}}
        </button>
        <div aria-labelledby="dropdownBasic1" style="max-height: 300px; overflow-y:auto;" class="dropdown-menu" [class.show]="dropdownShown"  >
          <div *ngFor="let s of students" >
            <button class="dropdown-item" (click)="onSelect(s)">{{s.fullname}}</button>          
          </div>
        </div>
</div>
-->