<div class="d-inline-block dropdown">
        <button class="btn btn-outline-primary" (click)="dropdownShown=!dropdownShown" (blur)="blur()">
            {{selected? (selected.name + ': '+ selected.groupName) : 'No hi ha grups'}}
        </button>
        <div aria-labelledby="dropdownBasic1" style="max-height: 300px; overflow-y:auto;" class="dropdown-menu" [class.show]="dropdownShown"  >
          <div *ngFor="let g of groups" >
            <button class="dropdown-item" (click)="onSelection(g)">{{g.name+ ': '+g.groupName}}</button>          
          </div>
        </div>
</div>
